/*
COLORS
main    #231F20
dark    #161314
*/

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500&display=swap');

* {
    box-sizing: border-box;
    /*font-size: 62.5%;*/
}

body {
    background-color: #231F20;
    padding: 20px;

    color: #EFE6DD;
    font-family: 'Work Sans', sans-serif;
}


/*
REUSABLE
*/

button {
    border: none;
}


/*
TEXT AREAS
*/

.main {
    display: flex;
}

.textarea {
    background-color: transparent;
    border: 2px solid #EFE6DD;
    border-radius: 10px;
    height: 100%;
    width: 100%;

    color: #EFE6DD;
    font-size: 2rem;
}

.code-textarea {
    font-family:'Courier New', Courier, monospace;
}

.note-textarea {
    font-family: 'Work sans', sans-serif;
}

.editor {
    display: flex;
    min-height: 50rem;
    margin-top: 3rem;
}


/*
NOTEBOOK SELECTOR
*/

#new-notebook {
    font-size: 30px;
    color: white;
    background-color: purple;
}